@charset "utf-8";
/* CSS Document */
/*清除浮动*/
.clear{
	clear:both;
}
.clear:after{
	content:'';
	display:block;
	clear:both;
	overflow:hidden;
}

.cont-b{
	width: 100%;
	background: #f6f6f6;
	border: 1px solid #ddd;
	-height: 124px;
}
.cont-bl{
	float: left;
	width: 20%;
	margin-left: 8px;
	margin-top: 20px;
	margin-bottom: 5px;
}
.bl-img{
	display: block;
}
.cont-br{
	float: left;
	font-size: 12px;
	color: #000;
	width: 76%;
	margin:5px 0 5px 0;
}
.cont-br a{
	/*text-decoration: none;*/
	/*border-bottom: none;*/
	color: #ff871f
}
.ct-des em{
	font-style: normal;
	font-weight: bold;
}










